.top-left {
    position: fixed;
    right: 0px;
    top: 18px;
}

.carousel-box{
    position: absolute;
    right: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    top: 25%;
}

.botao-laravel:hover {
    color: #fff;
    background-color: #ec453c;
    border-color: #ec453c;
}

.img-bg {
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: -1;
    height:100vh;
}

.textura-de-pontos{
    background: url(/img/bg-texture-00.svg);
}

.fixo-topo{
    position: fixed;top: 0px;z-index: 0;
}


.box-center{
    width: 70vh;
    height: 70vh;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 300px;
    padding: 25px;
}

.box-auth{
    width: 70vh;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 300px;
}

.box-auth-head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 5.1rem;
    position: relative;
    padding: 0;
    padding: 0 2.2rem;
}

.box-auth-head-caption-title-h3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.box-auth-head-caption-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.box-auth .box-auth-head{
    border-bottom: 1px solid #ebedf2;
}

.box-auth-body{
    padding: 2rem 2.2rem 2.2rem;
}

.laraColor{
    color:#f4645f;
}

.carousel-box .title.m-b-md span.laraColor {
    background: #fff;
    color: #f4645f;
    padding: 0px 32px;
    border-radius: 60px;
    -webkit-box-shadow: 3px 4px 5px 0px #000;
    -moz-box-shadow: 3px 4px 5px 0px #000;
    box-shadow: 3px 4px 5px 0px #000;
}

.menu.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.menu.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.menu.sliding-middle-out:hover:after {
    width: 100%;
    background: #fff;
}

.user-pic{
    border-radius: 60px;
    width: 45px;
}

.menu-interno .user-details {
    color: #fff;
}

.links.w-100.position-menu-left.logo {
    text-align: left;
}

.row-simples {
    margin-right: 0px;
    margin-left: 0px;
}

.dropdown-menu-item {
    padding: 0px;
}

.dropdown-menu-item .btn-group {
    width: 100%;
}

.dropdown-menu-item .btn-group .especial-button-dropdown {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 10px;
}

.menu-interno .row-simples {
    text-align: end;
    top: 0px;
    z-index: 1;
    /*padding: 20px 5px;*/
    background: #212529;
}

.menu-item {
    padding: 22px 5px;
}

.dropdown-menu-item .btn-group .dropdown-menu{
    position: absolute;
    will-change: transform;
    width: 100%;
    border-radius: 0px;
    top: -2px;
    left: 5px;
    transform: translate3d(-5px, 67px, 0px);
}

.link-lista.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    text-decoration: none;
}
.link-lista.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.link-lista.sliding-middle-out:hover:after {
    width: 100%;
    background: #f6635b;
}

.carousel-item .carousel-box .links a {
    background: #fff;
    color: #333;
    padding: 10px;
    margin: 0 5px;
    border-radius: 50px;
    -webkit-box-shadow: 2px 3px 4px 0px #000;
    -moz-box-shadow: 2px 3px 4px 0px #000;
    box-shadow: 2px 3px 4px 0px #000;
}

.menu.top-left.links.w-100.position-menu-left {
    position: relative;
    text-align: end;
    top: 0px;
    z-index: 1;
    padding: 20px 5px;
    background: #00000036;
}

.content{
    margin-top: 60px;
}

/*.menu .position-menu-left{
    position: fixed;
    text-align: end;
    top: 0px;
    z-index: 1;
    padding: 20px 5px;
    background: #00000036;
}*/

.menu {
    position: fixed;
    text-align: end;
    top: 0px;
    z-index: 1;
    background: #00000036;
    width: 100vw;
}

.links > a {
    color: #fff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#app .menu .position-menu-left{
    background:#212529;
}

footer.main {
    background: #fafafa;
    padding: 35px 20px;
    text-align: center;
}

footer.main p {
    color: #aeaeae;
    margin-bottom: 10px;
    font-size: 12px;
}

footer .links{
    padding: 15px;
}

.botao-laravel{
    color: #fff;
    background-color: #f6635b;
    border-color: #f6635b;
}

a.item-menu{
    color: #fff;
}